/* .container {
    position: absolute;
    top: 40px;
    padding: 70px 500px 50px 90px;

}

h1, p {
    margin: 50px 0;
}
.container .image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  } */